fastapi
uvicorn
pydantic
torch
torchvision
transformers
accelerate
timm
easyocr
supervision==0.18.0
ultralytics==8.3.70
einops==0.8.0
Pillow
opencv-python-headless
numpy
matplotlib
requests
openai
azure-identity
paddleocr
huggingface_hub
